

.split {background-image: url("./žuta.jpg"); 
margin:2px 3px 25px 3px;
border-radius:10px; 
 }

.drugi{background-image: url("./roza.jpg");
margin:0px 3px 25px 3px;
border-radius:10px;
}

.treci {background-image: url("./telefon.jpg");
    margin:0px 3px 25px 3px;
    border-radius:10px;
}

.botun {display:inline-block;
border-radius:20px;
border:none;
background-color:lightgrey;  
color: white;         
padding:10px; 
margin:5px;
font-family: 'Roboto', serif;
font-size:14px;
font-weight:600;
opacity:0.8;
}



.botun2 {display:inline-block;
    border-radius:20px;
    border:none;
    background-color:lightgrey;  
    color: white;         
    padding:10px; 
    margin:5px 5px 25px 5px; 
   font-family:'Roboto', serif;
font-size:14px;
font-weight:600;
opacity:0.8;
}

#zuta{margin-left:25px;}

.title {display:inline-block;    

      font-family: 'Merriweather' serif;
      font-weight:900;
    font-size:27px;
    color: white;
    margin-left:25px;
    border:400px;
    
     }

 .paragraph {display:inline-block;
    
 font-family: 'Roboto' serif;
  font-weight: 400;
font-size:14px; 
color:white;
margin:5px 0px 25px 25px;
}
 
 .container{width:625px;
margin: auto;
background-color:lightgrey;  
 }

